BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 0
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterControlStatement: false
  BeforeElse: true
AllowShortIfStatementsOnASingleLine: false
